@import './mixin.less';

.battle-view{
	background-color: #ccc;
	position: relative;

	.log-show-panel{
		position: absolute;
		left: 0;
		top: 30px;
		//transform: translateY(-50%);
		background: rgba(0, 0, 0, .2);
		padding: 2px;
		color: hotpink;
		font-size: 12px;
		.log-text-row{
			text-align: left;
			height: 14px;
			line-height: 14px;
		}
	}
}

.hand-cards-panel{
	background-color: antiquewhite;
	width: 100%;
	height: 200px;
	box-sizing: border-box;
	.row-wrap();
	padding: 2px;
	.card-container{
		flex-basis: 20%;
		padding: 2px;
		height: 100px;
		box-sizing: border-box;

	}
}

.state-section{
	padding: 0 6px;
	.progress-container{
		margin: 12px 0;
	}
}

.special-state-section{
	position: absolute;
	width: 100%;
	height: 24px;
	&.up{
		top: 0;
	}
	&.down{
		bottom: 0;
	}
}

.power-display-container{
	width: 30px;
	text-align: left;
	.font(16px, orange, 600);
}

.intention-display-container{
	margin-right: 6px;
	position: relative;
	.intention-icon{
		width: 24px;
		height: 20px;
		&.attack{
			background: url("../../assets/icon/sword-red.svg") center no-repeat;
			background-size: contain;
		}
		&.defense{
			background: url("../../assets/icon/shield-blue.svg") center no-repeat;
			background-size: contain;
		}
		&.debuff{
			background: url("../../assets/icon/poison.svg") center no-repeat;
			background-size: contain;
		}
		&.buff{
			background: url("../../assets/icon/enhance-green.svg") center no-repeat;
			background-size: contain;
		}
		&.stay{
			background: url("../../assets/icon/stay.svg") center no-repeat;
			background-size: contain;
		}
	}
	.action-name{
		position: absolute;
		left: 23px;
		bottom: 1px;
		font-size: 12px;
		line-height: 12px;
		color: #000;
		font-weight: 600;
		word-break: keep-all;
		background-color: rgba(205, 205, 205, 0.7);
		z-index: 1;
		padding: 3px;
	}
	.action-value{
		position: absolute;
		left: 4px;
		bottom: -5px;
		font-size: 12px;
		line-height: 12px;
		color: #000;
		font-weight: 600;
	}
}

.card-display{
	width: 100%;
	height: 100%;
	background-color: #999999;
	color: #fff;
	position: relative;
	.column-center-align();

	&.active{
		position: relative;
		top: -5px;
		z-index: 10;
		box-shadow: -1px -2px 18px 0px rgba(79,216,29,0.75);
	}

	&.disabled{
		opacity: .3;
	}

	&.type-attack{
		background-color: #b30000;
	}
	&.type-skill{
		background-color: #1b05ad;
	}
	&.type-ability{
		background-color: #43c6a1;
	}
	&.type-state{
		background-color: #555555;
	}

	.card-cost{
		position: absolute;
		left: 0;
		top: 0;
		font-size: 12px;
		line-height: 10px;
		font-weight: 600;
		color: orange;
		padding: 3px;
		background-color: #000;
		border-bottom-right-radius: 4px;
	}
}
.card-stack-section{
	padding: 2px;
	.flex();
	.card-stack{
		&:not(:last-child) {
			margin-right: 2px;
		}
		background-color: #cccccc;
		.grow();
		.value{
			.font(16px, blue, 600);
			margin-left: 4px;
		}
	}
}

.defense-display-container{
	text-align: center;
	height: 24px;
	line-height: 24px;
	width: 25px;
	margin-left: 5px;
	color: #fff;
	font-weight: 600;
	border-radius: 6px;
	&.active{
		background-color: darkgrey;
	}
}

.main-button-section{
	padding: 2px;
}